### eclipse ###

.env.local
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# external tool builders
.externaltoolbuilders/

# locally stored "eclipse launch configurations"
*.launch

# pydev specific (python ide for eclipse)
*.pydevproject

# cdt-specific (c/c++ development tooling)
.cproject

# cdt- autotools
.autotools

# java annotation processor (apt)
.factorypath

# pdt-specific (php development tools)
.buildpath

# sbteclipse plugin
.target

# tern plugin
.tern-project

# texlipse plugin
.texlipse

# sts (spring tool suite)
.springbeans

# code recommenders
.recommenders/

# annotation processing
.apt_generated/

# scala ide specific (scala & java development for eclipse)
.cache-main
.scala_dependencies
.worksheet

### eclipse patch ###
# eclipse core
.project

# jdt-specific (eclipse java development tools)
.classpath

# annotation processing
.apt_generated

.sts4-cache/

### emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# auctex auto folder
/auto/

# cask packages
.cask/
dist/

# flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

### git ###
# created by git for backups. to disable backups in git:
# $ git config --global mergetool.keepbackup false
*.orig

# created by git when using merge tools for conflicts
*.backup.*
*.base.*
*.local.*
*.remote.*
*_backup_*.txt
*_base_*.txt
*_local_*.txt
*_remote_*.txt

### linux ###

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# kde directory preferences
.directory

# linux trash folder which might appear on any partition or disk
.trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macos ###
# general
.ds_store
.appledouble
.lsoverride

# icon must end with two \r
icon

# thumbnails
._*

# files that might appear in the root of a volume
.documentrevisions-v100
.fseventsd
.spotlight-v100
.temporaryitems
.trashes
.volumeicon.icns
.com.apple.timemachine.donotpresent

# directories potentially created on remote afp share
.appledb
.appledesktop
network trash folder
temporary items
.apdisk

### netbeans ###
**/nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### node ###
# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# directory for instrumented libs generated by jscoverage/jscover
lib-cov

# coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# compiled binary addons (https://nodejs.org/api/addons.html)
build/release

# dependency directories
node_modules/
jspm_packages/

# typescript v1 declaration files
typings/

# optional npm cache directory
.npm

# optional eslint cache
.eslintcache

# optional repl history
.node_repl_history

# output of 'npm pack'
*.tgz

# yarn integrity file
.yarn-integrity

# dotenv environment variables file
.env

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
.next

# nuxt.js build output
.nuxt

# vuepress build output
.vuepress/dist

# serverless directories
.serverless/

# fusebox cache
.fusebox/

#dynamodb local files
.dynamodb/

### notepadpp ###
# notepad++ backups #

### phpstorm ###
# covers jetbrains ides: intellij, rubymine, phpstorm, appcode, pycharm, clion, android studio and webstorm
# reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# user-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# generated files
.idea/**/contentmodel.xml

# sensitive or high-churn files
.idea/**/datasources/
.idea/**/datasources.ids
.idea/**/datasources.local.xml
.idea/**/sqldatasources.xml
.idea/**/dynamic.xml
.idea/**/uidesigner.xml
.idea/**/dbnavigator.xml

# gradle
.idea/**/gradle.xml
.idea/**/libraries

# gradle and maven with auto-import
# when using gradle or maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# cmake
cmake-build-*/

# mongo explorer plugin
.idea/**/mongosettings.xml

# file-based project format
*.iws

# intellij
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# jira plugin
atlassian-ide-plugin.xml

# cursive clojure plugin
.idea/replstate.xml

# crashlytics plugin (for android studio and intellij)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# editor-based rest client
.idea/httprequests

# android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### phpstorm patch ###
# comment reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# sonarlint plugin
.idea/sonarlint

### phpstorm+all ###
# covers jetbrains ides: intellij, rubymine, phpstorm, appcode, pycharm, clion, android studio and webstorm
# reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# user-specific stuff

# generated files

# sensitive or high-churn files

# gradle

# gradle and maven with auto-import
# when using gradle or maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# cmake

# mongo explorer plugin

# file-based project format

# intellij

# mpeltonen/sbt-idea plugin

# jira plugin

# cursive clojure plugin

# crashlytics plugin (for android studio and intellij)

# editor-based rest client

# android studio 3.1+ serialized cache file

### phpstorm+all patch ###
# ignores the whole .idea folder and all .iml files
# see https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

.idea/

# reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

### phpstorm+iml ###
# covers jetbrains ides: intellij, rubymine, phpstorm, appcode, pycharm, clion, android studio and webstorm
# reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# user-specific stuff

# generated files

# sensitive or high-churn files

# gradle

# gradle and maven with auto-import
# when using gradle or maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# cmake

# mongo explorer plugin

# file-based project format

# intellij

# mpeltonen/sbt-idea plugin

# jira plugin

# cursive clojure plugin

# crashlytics plugin (for android studio and intellij)

# editor-based rest client

# android studio 3.1+ serialized cache file

### phpstorm+iml patch ###
# reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023


### sublimetext ###
# cache files for sublime text
*.tmlanguage.cache
*.tmpreferences.cache
*.sttheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using sublime text
# *.sublime-project

# sftp configuration file
sftp-config.json

# package control specific files
package control.last-run
package control.ca-list
package control.ca-bundle
package control.system-ca-bundle
package control.cache/
package control.ca-certs/
package control.merged-ca-bundle
package control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
github.sublime-settings

### tags ###
# ignore tags created by etags, ctags, gtags (gnu global) and cscope
tags
.tags
!tags/
tags
.tags
!tags/
gtags.files
gtags
grtags
gpath
gsyms
cscope.files
cscope.out
cscope.in.out
cscope.po.out


### textmate ###
*.tmproj
*.tmproject
tmtags

### vim ###
# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# session
session.vim

# temporary
.netrwhist
# auto-generated tag files
# persistent undo
[._]*.un~

### visualstudiocode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.njsproj
*.sln
*.sw*

### visualstudiocode patch ###
# ignore all local history of files
.history

### vuejs ###
node_modules
docs/_book
test/

### webstorm ###
# covers jetbrains ides: intellij, rubymine, phpstorm, appcode, pycharm, clion, android studio and webstorm
# reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# user-specific stuff

# generated files

# sensitive or high-churn files

# gradle

# gradle and maven with auto-import
# when using gradle or maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# cmake

# mongo explorer plugin

# file-based project format

# intellij

# mpeltonen/sbt-idea plugin

# jira plugin

# cursive clojure plugin

# crashlytics plugin (for android studio and intellij)

# editor-based rest client

# android studio 3.1+ serialized cache file

### webstorm patch ###
# comment reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# sonarlint plugin

### webstorm+all ###
# covers jetbrains ides: intellij, rubymine, phpstorm, appcode, pycharm, clion, android studio and webstorm
# reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# user-specific stuff

# generated files

# sensitive or high-churn files

# gradle

# gradle and maven with auto-import
# when using gradle or maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# cmake

# mongo explorer plugin

# file-based project format

# intellij

# mpeltonen/sbt-idea plugin

# jira plugin

# cursive clojure plugin

# crashlytics plugin (for android studio and intellij)

# editor-based rest client

# android studio 3.1+ serialized cache file

### webstorm+all patch ###
# ignores the whole .idea folder and all .iml files
# see https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360


# reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023


### webstorm+iml ###
# covers jetbrains ides: intellij, rubymine, phpstorm, appcode, pycharm, clion, android studio and webstorm
# reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# user-specific stuff

# generated files

# sensitive or high-churn files

# gradle

# gradle and maven with auto-import
# when using gradle or maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# cmake

# mongo explorer plugin

# file-based project format

# intellij

# mpeltonen/sbt-idea plugin

# jira plugin

# cursive clojure plugin

# crashlytics plugin (for android studio and intellij)

# editor-based rest client

# android studio 3.1+ serialized cache file

### webstorm+iml patch ###
# reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023


### windows ###
# windows thumbnail cache files
thumbs.db
ehthumbs.db
ehthumbs_vista.db

# dump file
*.stackdump

# folder config file
[dd]esktop.ini

# recycle bin used on file shares
$recycle.bin/

# windows installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# windows shortcuts
*.lnk

### visualstudio ###
## ignore visual studio temporary files, build results, and
## files generated by popular visual studio add-ons.
##
## get latest from https://github.com/github/gitignore/blob/master/visualstudio.gitignore

# user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# user-specific files (monodevelop/xamarin studio)
*.userprefs

# build results
[dd]ebug/
[dd]ebugpublic/
[rr]elease/
[rr]eleases/
x64/
x86/
[aa][rr][mm]/
[aa][rr][mm]64/
bld/
[bb]in/
[oo]bj/
[ll]og/

# visual studio 2015/2017 cache/options directory
.vs/
# uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# visual studio 2017 auto generated files
generated\ files/

# mstest test results
[tt]est[rr]esult*/
[bb]uild[ll]og.*

# nunit
*.visualstate.xml
testresult.xml

# build results of an atl project
[dd]ebugps/
[rr]eleaseps/
dlldata.c

# benchmark results
benchmarkdotnet.artifacts/

# .net core
project.lock.json
project.fragment.lock.json
artifacts/

# stylecop
stylecopreport.xml

# files built by visual studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# chutzpah test files
_chutzpah*

# visual c++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.vc.db
*.vc.vc.opendb

# visual studio profiler
*.psess
*.vsp
*.vspx
*.sap

# visual studio trace files
*.e2e

# tfs 2012 local workspace
$tf/

# guidance automation toolkit
*.gpstate

# resharper is a .net coding add-in
_resharper*/
*.[rr]e[ss]harper
*.dotsettings.user

# justcode is a .net coding add-in
.justcode

# teamcity is a build add-in
_teamcity*

# dotcover is a code coverage tool
*.dotcover

# axocover is a code coverage tool
.axocover/*
!.axocover/settings.json

# visual studio code coverage results
*.coverage
*.coveragexml

# ncrunch
_ncrunch_*
.*crunch*.local.xml
ncrunchtemp_*

# mightymoose
*.mm.*
autotest.net/

# web workbench (sass)
.sass-cache/

# installshield output folder
[ee]xpress/

# docproject is a documentation generator add-in
docproject/buildhelp/
docproject/help/*.hxt
docproject/help/*.hxc
docproject/help/*.hhc
docproject/help/*.hhk
docproject/help/*.hhp
docproject/help/html2
docproject/help/html

# click-once directory
publish/

# publish web output
*.[pp]ublish.xml
*.azurepubxml
# note: comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# microsoft azure web app publish settings. comment the next line if you want to
# checkin your azure web app publish settings, but sensitive information contained
# in these scripts will be unencrypted
publishscripts/

# nuget packages
*.nupkg
# the packages folder can be ignored because of package restore
**/[pp]ackages/*
# except build/, which is used as an msbuild target.
!**/[pp]ackages/build/
# uncomment if necessary however generally it will be regenerated when needed
#!**/[pp]ackages/repositories.config
# nuget v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# microsoft azure build output
csx/
*.build.csdef

# microsoft azure emulator
ecf/
rcf/

# windows store app package directories and files
apppackages/
bundleartifacts/
package.storeassociation.xml
_pkginfo.txt
*.appx

# visual studio cache files
# files ending in .cache can be ignored
*.[cc]ache
# but keep track of directories ending in .cache
!*.[cc]ache/

# others
clientbin/
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/
# asp.net core default setup: bower directory is configured as wwwroot/lib/ and bower restore is true
**/wwwroot/lib/

# ria/silverlight projects
generated_code/

# backup & report files from converting an old project file
# to a newer visual studio version. backup files are not needed,
# because we have git ;-)
_upgradereport_files/
backup*/
upgradelog*.xml
upgradelog*.htm
servicefabricbackup/
*.rptproj.bak

# sql server files
*.mdf
*.ldf
*.ndf

# business intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser

# microsoft fakes
fakesassemblies/

# ghostdoc plugin setting file
*.ghostdoc.xml

# node.js tools for visual studio
*.ntvs*
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
*.sln.iml

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/
