// 
// Browser's styling reset
// 

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }
}

input {
  appearance: none;
  font: inherit;
}